.navbar{
  background-color: lightBlue
}
p{
  color: green
}
#icon{
  width: 200px;
  height: 200px;
}
body{
  background-image: linear-gradient(to bottom, #f43f5d, lightblue);
  padding: 10px;
}
h4{
  text-align: right;
}
#aboutTitle{
  color: #f43f5d;
  font-family: cursive;
}
