.navbar{
  background-color: lightBlue
}

h4{
  color: red;
  text-align: right;
}
h3{
  color: blue;
  text-align: right;
}
p{
  color: #f43f5d;
}
#icon{
  width: 200px;
  height: 200px;
}
body{
  background-image: linear-gradient(to bottom, #f43f5d, lightblue);
  padding: 10px;
}

#aboutTitle{
  color: #f43f5d;
  font-family: cursive;
}

.table, th, td {
  border: red;
  padding: 8px;
  border-collapse: collapse;
}
